

$drk-grey: #333333;

$md-grey : #4d5455;
$lt-grey : #F5F5F5;
$concrete: #E9EBEC;
$powder	 : #dddddd;
$silver  : #bdc3c7;
$blue    : #2980b9;
$green	 : #6AD198;
// $red	 : #
$yellow  : #F9C158;



$serif : 'Georgia';
$sans  : 'Roboto';




// Color Variables
$primary-color          : $blue;
$primary-color-alt      : rgb(81, 11, 118);

$secondary-color        : #39393A;
$secondary-color-alt    : #585858;

$error-color            : #e74c3c;
$success-color          : #27ae60;
$yellow                 : #FECB2F; 

$button-background      : $blue;
$button-text            : white;

$link-color             : $primary-color;